@charset "UTF-8";
@import "../../less/variables";

.index-footer {
    position: relative;
    width: 100%;
    background: #262b36;
    .footer-content{
        width:@wrap-width;
        height:130px;
        margin:0 auto;
    }
}
