@charset "UTF-8";
@import "variables";

.home{
    .banner-box{
        height:400px;
    }
    .bulletin-box{
        height:34px;
        line-height: 34px;
        background:url("../images/yy8.jpg") repeat-x 0 0;
    }
    .inner-box{
        padding-top:10px;
        line-height: 1.5em;
        >div{
            margin-bottom:10px;
        }
        .small-con,.big-con{
            overflow: hidden;
            background-color: #f1f1f1;
            border: solid 1px #e6e6e6;
            padding: 10px 20px 10px 20px;
            .com-content{
                padding:10px 0;
                height:280px;
            }
        }
        .small-con{
            width:342px;
        }
        .big-con {
            width: 652px;
        }
        .img-box{
            width:267px;
            height:228px;
            overflow: hidden;
            border-radius:5px;
            float: left;
            padding-right: 10px;
        }
    }
}
