@charset "UTF-8";
@import "variables";

.content-view{
    .banner-box{
        height:315px;
        overflow: hidden;
        .swiper-container{
            height:100%;
            .swiper-slide{
                height:100%;
                overflow: hidden;
            }
        }
    }
}
.box-width{
    width:@wrap-width;
    margin:0 auto;
}
