@charset "UTF-8";
@import "../../less/variables";
.nav{
    background:url(../../images/nav-bg.jpg) repeat-x 0 0;
    border-bottom: solid 3px @color-blue;
    .nav-content{
        margin:0 auto;
        height:45px;
        width:@wrap-width;
        ul{
            text-align: center;
            margin:0;
            li{
                width:11%;
                line-height: 45px;
                font-size: 14px;
                font-weight: bold;
                position: relative;
                margin-right: 5px;
                a{
                    color:#000000;
                    text-decoration: none;
                    //display:block;
                }
                .nav-child{
                    position: absolute;
                    z-index: 999;
                    top:100%;
                    left:0;
                    min-width:100%;
                    padding:15px;
                    //line-height:1.5em;
                    //font-size: 12px;
                    background-color:#fff;
                    font-weight:normal;
                    //border-radius: 5px;
                    box-shadow:0 0 6px 4px rgba(0,0,0,.1);
                    dl{
                        margin-bottom:0;
                        word-wrap:normal;
                        border-bottom:1px dashed @color-split;
                        dt,dd{
                            width:110px;
                            text-align: center;
                            white-space:nowrap;
                            a{
                                &:hover{
                                    color:#007bff;
                                }
                            }
                        }
                        &.no-product{
                            width:50%;
                            dt{
                                width:auto;
                            }
                        }
                    }
                    &:before{
                        border-color: transparent transparent #fff;
                        border-style: solid;
                        border-width: 0 5px 5px;
                        content: '';
                        width: 0;
                        height: 0;
                        position: absolute;
                        left: 0;
                        top: -5px;
                        margin-left: 40px;
                    }
                }
            }
        }
        .ul-navigation{
            >li{
                >.nav-view{
                    a{
                        display:block;
                    }
                    .menu-active,a:hover{
                        color:#fff;
                        background-color:#193c7e;
                    }
                }
            }
        }
    }
    dl{
        dd{
            margin:0;
        }
    }
    .animate{
        transition-property: height;
        transition-duration: .5s;
        height:0;
        /*&.show {
            height: auto;
        }*/
    }
}
